.screenshots-auto-select {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.screenshots-auto-select-rect {
  position: absolute;
  border: 2px dashed #55aaff;
  pointer-events: none;
}
